/* 
====================================================
Primary
====================================================
*/

$blue-200: #9abbfe;
$blue-500: #3a7bfd;
$blue-900: #0245ca;

$grad-check: linear-gradient(
  165deg,
  hsl(192, 100%, 67%) 0%,
  hsl(280, 87%, 65%) 100%
);

/* 
====================================================
Navy / Dark 
====================================================
*/

$navy-950: hsl(235, 21%, 11%);
$navy-900: hsl(235, 24%, 19%);
$navy-850: hsl(235, 19%, 35%);

$purple-100: hsl(236, 33%, 92%);
$purple-300: hsl(234, 39%, 85%);
$purple-600: hsl(235, 16%, 43%);
$purple-700: hsl(233, 14%, 35%);
$purple-800: hsl(237, 14%, 26%);

/* 
====================================================
Neutrals
====================================================
*/

$gray-50: hsl(0, 0%, 98%);
$gray-300: hsl(233, 11%, 84%);
$gray-600: hsl(236, 9%, 61%);

/* 
====================================================
Semantics
====================================================
*/

$red-100: rgb(255, 117, 117);
$red-900: rgb(158, 33, 33);
