$breakpoint-sm: 375px;
$breakpoint-md: 768px;
$breakpoint-lg: 1440px;

$font-family: "Josefin Sans", sans-serif;
$line-height: 1.5;

$path-bg-desktop-dark: "/assets/images/bg-desktop-dark.jpg";
$path-bg-desktop-light: "/assets/images/bg-desktop-light.jpg";

$path-bg-mobile-dark: "/assets/images/bg-mobile-dark.jpg";
$path-bg-mobile-light: "/assets/images/bg-mobile-light.jpg";
