@font-face {
  font-family: "JosefinSansItalic";
  src: url("/assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: italic;
}

@font-face {
  font-family: "JosefinSans";
  src: url("/assets/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
}
