.form {
  &__wrapper {
    margin: 50px auto 0;
    background-color: var(--clr-form);
    max-width: var(--breakpoint-sm);
    padding: 24px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-lg);
    border-radius: var(--border-radius-sm);
  }

  &__title {
    text-align: center;
    color: var(--clr-font-body-theme);
    padding-bottom: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__input {
    padding: 16px;
    background-color: var(--clr-form-field);
    border: 1px solid var(--clr-border);
    border-radius: var(--border-radius-sm);
    color: var(--clr-font-body);

    &:focus {
      outline: 1px solid var(--clr-blue-500);
    }

    &.form-input-error {
      border-color: var(--clr-error);
    }
  }

  &__input,
  &__btn {
    width: 100%;
  }

  &__footer {
    margin-top: 24px;
  }

  &__btn {
    cursor: pointer;
    color: var(--clr-btn-auth-text);
    background-color: var(--clr-btn-auth);
    border: transparent;
    padding: 16px;
    border-radius: 4px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: color-mix(in srgb, var(--clr-btn-auth-hover), #000 30%);
    }
  }

  &__footer {
    &--link {
      color: var(--clr-link);
    }
  }
}
