@use "../01-base/config" as *;

/* 
====================================================
Todos
====================================================
*/

.todo {
  &__form-wrapper {
    margin: 24px 0;
    border-radius: var(--border-radius-sm);
  }

  &__form-wrapper,
  &__list-wrapper {
    background-color: var(--clr-list-item);
    box-shadow: 0px 8px 29px -7px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 8px 29px -7px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 8px 29px -7px rgba(0, 0, 0, 0.34);
  }

  &__form,
  &__list-item {
    padding: 20px 24px;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    background-color: var(--clr-list-item);
    border-radius: var(--border-radius-sm);
  }

  &__text-input {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    width: 100%;
    height: 40px;
    color: var(--clr-font-body);

    &:focus {
      outline: none;
      border: none;
    }
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);

    > :not(:last-child) {
      border-bottom: 1px solid var(--clr-border);
      border-radius: var(--border-radius-sm);
    }
  }

  &__list-item {
    display: flex;
    align-items: flex-start;
    width: 100%;

    &--drag-handle {
      width: 1.2em;
      height: 1.2em;
      cursor: pointer;
      margin-right: 1rem;
    }

    &--content-wrapper {
      display: flex;
      flex: 1;
      align-items: flex-start;
      gap: 12px;
    }

    &--edit-box {
      border-bottom: 1px solid var(--clr-blue-500);
      color: var(--clr-font-body);
      padding-bottom: 2px;
    }

    &--edit-box,
    &--text-display {
      flex: 1;
      width: 100%;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 1rem;
      line-height: 1.4;
      border: none;
      background: transparent;
      outline: none;
      resize: none;
      word-break: break-all;
    }

    &--text-display.completed {
      text-decoration: line-through;
      color: var(--clr-purple-600);
      opacity: 0.6;
    }

    &--delete-btn {
      flex-shrink: 0;
      background: transparent;
      border: none;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      pointer-events: none;

      img {
        display: block;
        width: 1rem;
        height: 1rem;
      }

      @media (max-width: $breakpoint-md) {
        opacity: 1;
        pointer-events: all;
      }
    }

    &:hover &--delete-btn {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__footer {
    color: var(--clr-text-muted-darker);
    font-size: var(--type-sm);
    font-weight: 600;
    text-align: center;
    margin-top: 3rem;
  }

  &__filtering {
    padding: 18px 24px;
    text-align: center;
  }
}

.todo {
  &__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    row-gap: 1rem;

    grid-template-areas:
      "one three"
      "two two";

    .grid-item-1 {
      grid-area: one;
    }

    .grid-item-2 {
      grid-area: two;
    }

    .grid-item-3 {
      grid-area: three;
    }

    @media (min-width: $breakpoint-md) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "one two three";
      background-color: var(--clr-list-item);
      border-radius: var(--border-radius-sm);
    }

    .box {
      padding: 18px 24px;
      background-color: var(--clr-list-item);
    }

    .todo__info-label,
    .todo__info-btn {
      font-size: var(--type-sm);
      color: var(--clr-text-muted);
      font-weight: 600;
      transition: color 0.2s ease;
      cursor: pointer;
    }

    .todo__info-btn {
      appearance: none;
      background-color: inherit;
      border: none;

      &.active-tab {
        color: var(--clr-blue-500);
      }

      &:hover {
        color: var(--clr-link-category);
      }
    }

    .grid-item-1 {
      border-bottom-left-radius: var(--border-radius-sm);
    }

    .grid-item-2 {
      align-content: center;
      border-radius: var(--border-radius-sm);
    }

    .todo__info-categories {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--clr-list-item);
      border-radius: var(--border-radius-sm);
    }

    .grid-item-3 {
      text-align: right;
      border-bottom-right-radius: var(--border-radius-sm);
    }
  }
}

/* 
====================================================
Checkbox 
====================================================
*/

input[type="checkbox"] {
  flex-shrink: 0;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 0.12em solid var(--clr-border);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  transform: translateY(-0.075em);
  transition:
    background 0.2s ease,
    border-color 0.2s ease;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;

    box-shadow: inset 1em 1em var(--clr-gray-50);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked {
    background: #57ddff;
    background: var(--clr-check-bg);
    border-color: transparent;
  }

  &:hover {
    border-color: var(--clr-check-bg);
  }

  &:checked::before {
    transform: scale(1);
  }

  // &:checked + .todo__list-item.completed {
  //   text-decoration: line-through;
  //   color: var(--clr-purple-600);
  // }

  &:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

  &:disabled {
    cursor: default;
    opacity: 1;
    border-color: var(--clr-border);
  }
}
